

<h2></h2>

  <%= form_for(:admin, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("New") %>
    </div>
    
  <% end %>
